@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Learn about <a href="https://sensenet.com">building sensenet apps</a>.</p>
        <p>Click <a href="/odata.svc/Root/IMS/BuiltIn/Portal?metadata=no&$select=Name,Id,Type&$orderby=Id">here</a> to see built-in users and groups.</p>
</div>
