@using System.ComponentModel.DataAnnotations
@using System.Linq
@{
    ViewData["Title"] = "Home Page";
    var envVars = Environment.GetEnvironmentVariables();
    var keys = envVars.Keys.OfType<string>().OrderBy(x => x);
    var snEnv = (SenseNetEnvironment) Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Click <a href="/odata.svc/Root/IMS/BuiltIn/Portal?metadata=no&$select=Name,Id,Type&$orderby=Id">here</a> to see built-in users and groups.</p>
</div>
<div>
    <table>
        @if (Model != null)
        {
            <tr><td>ContainerName</td><td>@snEnv.Container.Name</td></tr>
            <tr><td>Authority</td><td>@snEnv.Authentication.Authority</td></tr>
        }
        @foreach (var key in keys)
        {
            <tr>
                <td>@key</td>
                <td>@envVars[key]</td>
            </tr>
        }
    </table>
</div>